.*
!.gitignore
*.so
*.pyc
__pycache__/
# *.png
*.h5
*.npz
*.csv
*.zip
*.pth
*.npy
*.pdf
*.jpg
*.tar
*.pth
*.npy
*.log
*.log_file
*.tar.gz
.vscode/
raw_datasets/
results/
FlowNet2_src/
Avenue Dataset/
flownet2.pytorch/
mmdetection/
obj_det_checkpoints/
results_predict/
results_raw/
runs/
runs_calc_flow/
runs_multi/
runs_onlysave/
runs_test_shanghai/
UCSD_Anomaly_Dataset.v1p2/
runs_rsrae/
slurms/
Experiments/
*.sh
